body {
    /* font-family: Tahoma, Geneva, sans-serif; */
    background: black url('../Images/IMG_4615.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px 5px grey;
    font-family: Jost;
    font-size: 16px;
  }
  
#h1 {
    font-family: Rock Salt;
    font-size: 50px;
}
  

  #form-wrapper {
    width: 100%;
    display: flex;
    display: inline-block;
    flex-direction: row;
  }
  
  .form-item {
    margin-right: 1.8rem;
  }
  
  label.primary {
    display: block;
    margin: 0.4em 0;
  }
  
  /* label::after {
    content: ":";
  } */
  
  /* button, input[type="submit"] {
    margin-top: 1rem;
  } */


  button, input[type=submit] {
    padding:5px 15px; 
    background:rgb(174, 224, 103); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: Jost;
    color: white;
    text-shadow: 1px 1px 5px grey;
    font-size: 18px;

}


button {
    padding:5px 15px; 
    background:rgb(248, 53, 53); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: Jost;
    color: white;
    text-shadow: 1px 1px 5px grey;
    font-size:18px;
}


  .col-1 {
    position: relative;
    width: 40%;
    float: left;
    height: 100%;
    /* background-color: #ffffff; */
    z-index: 1010101010;
    /* margin-left: 10px */
  }
  
  .col-2 {
    position: relative;
    width: 60%;
    float: left;
    height: 100%;
    /* background-color: #ffffff; */
    z-index: 1010101010;
  }



  .centered {
    position: relative;
    /* top: 100%; */
    left: 0%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
  }


  #munro-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .munro-completed-item {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 2px ridge #075504ad;
    border-radius: 5%;
    background: #73977f;
    opacity: 90%;
  }