body {
    font-family: Tahoma, Geneva, sans-serif;
  }
  

  

  #form-wrapper {
    width: 100%;
    display: flex;
    display: inline-block;
    flex-direction: row;
  }
  
  .form-item {
    margin-right: 1.8rem;
  }
  
  label.primary {
    display: block;
    margin: 0.4em 0;
  }
  
  label::after {
    content: ":";
  }
  
  button, input[type="submit"] {
    margin-top: 1rem;
  }

  .col-1 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #ffffff;
    z-index: 1010101010
    /* margin-left: 10px */
  }
  
  .col-2 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #ffffff;
    z-index: 1010101010
  }



  .centered {
    position: relative;
    /* top: 100%; */
    left: 0%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
  }